<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBEsBoBMAJjo0SUhwqNEgLbMiupZEoIk3k</string>
	<key>GCM_SENDER_ID</key>
	<string>571849249430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.neuroApp</string>
	<key>PROJECT_ID</key>
	<string>nuro-af526</string>
	<key>STORAGE_BUCKET</key>
	<string>nuro-af526.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571849249430:ios:c32ead5dbc5472d9b228b7</string>
	<key>DATABASE_URL</key>
	<string>https://nuro-af526-default-rtdb.firebaseio.com</string>
</dict>
</plist>